.collection.nm{
    margin: 0px;
  }
  .collection.nav-less{
    border:none;
  }
  .collection.nav-less .opc,.collection.nav-less li {
    border-bottom: 1px solid #2b2b2b;
    background: #212121;
    color: #eeeeee;
  }
  
  .collection.nav-less .opc{
    cursor: pointer;
  }
  .collection.nav-less li{
    cursor: default;;
  }
  .collection.nav-less i,.collection.nav-less span{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  
  }
  .collection.nav-less li.collection-header{
    border-bottom: 1px solid #2b2b2b;
  }
  
  .collection.nav-less .opc.collection-item:not(.active):hover {
    background-color: #444;
  }

  .collection.nav-less .collection-header{
      padding-left: 10px;
  }
  