.login-background{
    background-image: url("/assets/images/loginbg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card.login{
    background: rgba(0,0,0,0.7);
}